Package: enigma2-plugin-extensions-piconhub-warder-evolution
Version: 0.1.1-dev
Description: PiconHub-Warder-Evolution picon downloader/updater for Enigma2
Architecture: all
Maintainer: Warder
Depends: enigma2
License: GPLv2
Homepage: https://github.com/Evolution-by-Warder/PiconHub-Warder-Evolution
