Package: enigma2-plugin-extensions-chocholousek-picons
Version: 5.0.240904.2
Description: Enigma2 plugin for downloading and updating picons (almost all EU satellites)
Architecture: all
Section: extra
Priority: optional
Maintainer: Warder
License: GPLv2
Homepage: https://github.com/Evolution-by-Warder/PiconHub-Warder-Evolution
